/* general and reset */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v8/BngMUXZYTXPIvIBgJJSb6ufJ5qA.ttf) format('truetype');
}

* {
    -webkit-box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

input,
button {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    outline: none;
}

/* page main elements */
.app {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.horizontal-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    border: 1px solid gray;
}

.horizontal-menu__element {
    margin: 5px;
}

.settings {
    position: relative;
    width: 150px;
    padding: 0;
    margin: 0;
}

.settings > li > ul {
    top: 40px;
    left: 0;
}

.settings li {
    padding: 5px 10px;
    position: relative;
    background: white;
    width: 150px;
    border: 1px solid gray;
}

.settings ul {
    position: absolute;
    top: 0;
    left: 148px;
    padding: 0;
    z-index: 10;
}

.settings li ul {
    display: none;
}

.settings li ul.settings__inner_visible {
    display: block;
}

.settings > li li:hover > ul {
    display: block;
}

.settings__setting {
    display: block;
    list-style: none;
    position: absolute;
}

.settings__setting ul,
.settings__setting li {
    list-style: none;
}

.wrapper {
    border: 1px solid gray;
    border-top: none;
    height: 50px;
    flex: 1;
    display: flex;
}

.vertical-menu {
    width: 200px;
}

.vertical-menu__button {
    display: block;
    margin: 15px auto;
    padding: 10px;
    width: 100px;
    background: none;
    border: none;
    outline: none;
}

.vertical-menu__button:first-child {
    margin-top: 30px;
}

.vertical-menu__button_active {
    background: rgba(0, 0, 0, 0.1);
}

.content {
    flex: 1;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
    overflow: auto;
}

.content__canvas,
.content__service-top-layer {
    position: absolute;
}

.layers {
    width: 200px;
}

.layers__layer {
    cursor: pointer;
    padding: 3px 7px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layers__layer_active {
    background: orangered;
    color: white;
}

.layers__add-layer-button {
    padding: 7px 15px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

.layers__del-button {
    width: 15px;
}

.message {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.message__content {
    width: 400px;
    max-width: 100%;
    height: 200px;
    padding: 15px;
    background: #fff;
    overflow-y: auto;
    user-select: none;
}

.message_visible {
    display: flex;
}

/*# sourceMappingURL=style.css.map */